# INTELLIJ IDEA (IDE)
.idea/
*.iml
*.iws
*.ipr
out/

# MAVEN (Build)
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# BANCO DE DADOS (SQLite)
*.db
*.sqlite
*.sqlite3
*.db-journal

# SISTEMA OPERACIONAL (Arquivos ocultos)
.DS_Store
Thumbs.db
*~
